<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Usuario">
    
    <!-- LIST ALL USERS -->
    <select id="list" resultType="Usuario" >
        select usuarios.usuario_id,usuarios.nombre,usuarios.apepat,usuarios.apemat,ciudades.nombre as ciudad_nombre,usuarios.estado
        from Usuarios,Ciudades
        where Usuarios.ciudad_id=Ciudades.ciudad_id
    </select>
    <!--GUARDAR USUARIO -->
    <insert id="save">
	    insert into Usuarios(nombre,apepat,apemat,username,password,ciudad_id,estado)
            values (
	    	#{nombre}, #{apepat}, #{apemat},#{username},#{password},#{ciudad_id},#{estado}
	    )
    </insert>
    <!-- ELIMINAR USUARIO -->
    <delete id="delete">
        delete from Usuarios where usuario_id=#{usuario_id}
    </delete>
    
    <!-- BUSCAR USUARIO -->
     <select id="search" resultType="Usuario" >
        select usuarios.usuario_id,usuarios.nombre,usuarios.apepat,usuarios.apemat,usuarios.username,usuarios.password,usuarios.ciudad_id,ciudades.nombre as ciudad_nombre,usuarios.estado
         from Usuarios,Ciudades
         where Usuarios.ciudad_id=Ciudades.ciudad_id and usuario_id=#{usuario_id}
    </select>
    <!-- ACTUALIZAR USUARIO -->
    <update id="edit">
        update Usuarios set nombre=#{nombre},apepat=#{apepat},apemat=#{apemat},username=#{username},password=#{password},#{estado} where usuario_id=#{usuario_id}
    </update>
    
</mapper>